body {
    background: #101010;
}
.reveal {
    visibility: hidden;
}
.bg-grey {
    background: #f8f8f8;
}
.bg-white {
    background: rgb(255, 255, 255);
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}
.btn-info {
    background-color: #7a3f7a;
    border-color: #7a3f7a;
}
button.more_info {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3a3a3a;
}
