body{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}
.secondPage{
    padding-top: 20%;
}
section{
    scroll-snap-align: start;
    min-height: 100vh;
}
.intro {
    background: rgb(224, 224, 224);
}
.h2{
    position: absolute;
    top: 50%;
    right: 10vh;
}
h2::after{
    height: 10px;
    display: block;
    color: red
}
.black{
    color: black;
}