<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- icons / theme color -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon_package_v0.16/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon_package_v0.16/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon_package_v0.16/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicon_package_v0.16//site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicon_package_v0.16//safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta name="theme-color" content="#ffffff" />

    <title>Mr.abayoss</title>

    <!-- links start -->
    <!-- ui kit cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
    <!-- bootswatch / font awesome CDN -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <!-- links End -->
</head>

<body>
    <!-- layout/navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand ml-4" href="#">
            <img src="img/svg/ab_Logo_white.svg" width="30" height="30" alt="" />
        </a>
        <button class="navbar-toggler mr-4" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link uk-button uk-button-text active" href="#work">Work</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" href="#contact" style="width: 100%;">Contact Me</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- layout/navbar end -->

    <!-- pages/main start -->
    <main id="main-container" class="reveal">

        <!-- first section : introduction  -->
        <section id="intro">
            <div class="bg-black-img"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Oussama abaayous</h2>
                        <h6 id="quote1" class="mt-3">
                            A Moroccan Web Developer, based in Rabat.
                        </h6>
                        <h6 id="quote2">
                            He dedicates his time to develop products
                            and create useful services, mostly built
                            with Vue and node JS.
                        </h6>
                    </div>
                </div>
                <!-- begin Scroll Down Button -->
                <!-- <button type="button" class="animated scroll_down slideUp" id="scroll_down"></button> -->
                <!-- end Scroll Down Button -->
            </div>
        </section>

        <!-- Work Section  -->
        <section class="pb-5" id="work">
            <div class="container negative-margin">
                <h4>Work</h4>
                <!-- dynamic Work Section  -->
                <div class="row top_work_grid mb-5 animated slideLeft2">
                    <div class="col-md-4 mx-auto py-2 " v-for="element in ProjectsList">
                        <div>
                            <div class="uk-inline tm-image-card uk-transition-toggle" tabindex="0">
                                <div>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top">
                                            <img :src="element.image" alt="" />
                                        </div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">{{element.title}}</h3>
                                            <p>
                                                {{element.description}}
                                            </p>
                                        </div>
                                        <div class="uk-position-cover uk-overlay uk-overlay-primary uk-transition-fade">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-panel uk-position-center uk-text-center uk-transition-fade">
                                    <p v-if="element.live">
                                        <a class="uk-button btn-info" :href="element.live" target="#">Live Demo
                                        </a>
                                    </p>
                                    <p>
                                        <a class="uk-button btn-secondary" :href="element.details" target="#">Details
                                        </a>
                                    </p>
                                    <p>
                                        <a class="uk-button uk-button-default-info" :href="element.source" target="#"><i
                                                class="fa fa-github"></i> Source
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="more_info animated slideUp uk-button">
                    more...
                </button>
            </div>
        </section>


        <!-- skill Section  -->
        <section class="animated slideRight1 py-5" id="skill">
            <div class="bg-skills-img"></div>
            <div class="bg-skills-overlay"></div>
            <div class="container">
                <div class="row animated slideLeft2">
                    <div class="col-md-8">
                        <h4>Tech i'm working with</h4>
                        <ul class="uk-list uk-list-divider">
                            <li></li>
                            <li>Vue Js</li>
                            <li>Node & Express JS</li>
                            <li>Laravel | Codeigniter</li>
                            <li>Angular 2 ++</li>
                            <li>Bootstrap Css</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-4 border-left2">
                        <h4>Tech i'm familiar with</h4>
                        <ul class="uk-list uk-list-divider">
                            <li></li>
                            <li>Sass, Less</li>
                            <li>Reactive Extensions</li>
                            <li>Wordpress, Drupal</li>
                            <li>Symfony</li>
                            <li>C# Asp .net</li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="more_info animated slideUp uk-button">
                            more...
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="section-paralax" class="pt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-6">
                        <div style="overflow: hidden;" class="img-paralax-col">
                            <img class="img-paralax"
                                style="transform: scale(1.3);width: 300px; object-fit: cover; transform-origin: 50% 50%; height: 100%;"
                                src="https://viragesmoto.com/wp-content/uploads/ViragesMoto72sur111-1000x1500.jpg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Une expérience inoubliable </h4>
                        <p>Des itinéraires testés et approuvés par nos soins à travers les plus belles routes de France
                            et d’Espagne, le meilleur de la gastronomie locale, une ambiance amicale et une attention
                            particulière à toutes vos demandes. Let’s ride! </p>
                    </div>
                </div>
            </div>
        </section> -->

    </main>
    <!-- pages/main end -->

    <!-- layout/footer start  -->
    <section id="contact" class="pt-4 reveal">
        <div class="container">
            <div class="row pt-5">
                <!-- personal info  -->
                <div class="col-md-4">
                    <div class="pb-2 mb-3">
                        <img src="https://avatars0.githubusercontent.com/u/26075149?s=460&v=4"
                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="" />
                    </div>
                    <div class="mb-auto pb-2 mb-3">
                        <div class="uk-text-center text-white">
                            <p>🔥 Got a new idea ? Let's make it happen ! 🔥</p>
                        </div>
                        <h4>
                            <i class="fa fa-at" aria-hidden="true"></i> Email
                        </h4>
                        <p>abaayous.oussama@gmail.com</p>
                        <h4>
                            <i class="fa fa-map" aria-hidden="true"></i> Address
                        </h4>
                        <p>
                            Morocco, Rabat
                        </p>
                        <!-- <p>
                            <a
                                class="uk-button uk-button-default btn-block text-white"
                                href="https://docs.google.com/document/d/1m6yDTt4siwRSnCA-vjilGqYO72vHRz3uqFZfw2lchuo"
                                target="#"
                            >
                                <i class="fa fa-file-pdf-o"></i>
                                Curriculum Vitae
                            </a>
                        </p> -->
                    </div>
                </div>
                <!-- contact me -->
                <div class="col-md-8 mb-4">
                    <h3>Contact Me</h3>
                    <!-- Email Form and address -->
                    <form action="https://formcarry.com/s/v0Z3vC5PTtY" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                            <label for="">
                                <i class="fa fa-bullseye" aria-hidden="true"></i>
                                Name</label>
                            <input class="uk-input" type="text" name="name" id="name" aria-describedby="helpId"
                                placeholder="your name goes here..." required />
                        </div>
                        <div class="form-group">
                            <label for="">
                                <i class="fa fa-at" aria-hidden="true"></i>
                                Email</label>
                            <input class="uk-input" type="text" name="email" id="email" aria-describedby="helpId"
                                placeholder="your email goes here..." required />
                        </div>
                        <div class="form-group">
                            <label for="messageText">
                                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                Message</label>
                            <textarea class="uk-textarea" name="message" id="message" rows="4"
                                placeholder="Message goes here..." required></textarea>
                        </div>
                        <button type="submit" name="" id="" class="uk-button uk-button-default-info btn-block">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            Send
                        </button>
                    </form>
                    <!-- social Media  -->
                    <h5 class="my-2">More Links</h5>
                    <ul class="uk-list">
                        <li>
                            <a href="https://www.github.com/abayoss" target="#"
                                class="uk-button uk-button-default btn-block text-white">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/in/oussama-abaayous/" target="#"
                                class="uk-button uk-button-default btn-block text-white">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                Linkedin
                            </a>
                        </li>
                        <!-- <li>
                            <a
                                class="uk-button uk-button-default btn-block text-white"
                                href="https://docs.google.com/document/d/1m6yDTt4siwRSnCA-vjilGqYO72vHRz3uqFZfw2lchuo"
                                target="#"
                            >
                                <i class="fa fa-file-pdf-o"></i>
                                Resume
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section> <!-- layout/footer End  -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <!-- <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/SplitText3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
